APP_NAME=TalNext
DEBUG=False

GROQ_MODEL=openai/gpt-oss-120b
GROQ_MODEL_FAST=openai/gpt-oss-20b

DATABASE_URL=postgresql://usuario:password@localhost:5432/talnext

JWT_SECRET_KEY=genera_con_python_secrets_token_urlsafe_64
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=10080

ENCRYPTION_KEY=genera_con_fernet_generate_key

ALLOWED_ORIGINS=http://localhost:3000